@use "../abstracts/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: $font-base;
}

body {
  min-height: 100vh;
  background-color: $color-secondary-white;
  display: flex;
}
